/* cover */
:root {
  --orange: #ffa842;
  --green: #1c8f3c;
  --blue: #343c6a;
  --light-blue: #f5f7fa;
  --bs-heading-color: #343c6a;
  --bs-navbar-brand-color: #343c6a;
  --bs-danger-rgb: 255, 0, 51;
  --bs-border-width: 3px;
  /* --bs-border-color: #dee2e6; */
}
.form-control:focus {
 
  background-color:var(--bs-secondary-bg-subtle);
  border: #fe86be 4px solid;
  outline: 0;
  box-shadow: none;
}
.form-control{
  width: 90%;
  background-color:var(--bs-secondary-bg-subtle);
  border-radius: 30px;
  border: none;
}
.form-select{
  width: 90%;
  border-radius: 30px;
}
.table {
  --bs-table-color: #343c6a;
  font-size: 1.2rem;
  letter-spacing: 0px;
}
body {
  background-color: #dfdfdf;
}
/* .table-group-divider {
  border-top-color: var(--bs-border-color);
  border-top-width: 4px;
} */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  --bs-nav-pills-link-active-bg: #ffffff;
  border-left: 7px #2d60ff solid;
  border-radius: 0%;
  color: #2d60ff;
}
.nav-link {
  padding: 13px 25px;
}
.nav-link:focus,
.nav-link:hover {
  color: #8b8b8b;
}
.nav-link {
  color: #b1b1b1;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
}
.btn {
  --bs-btn-border-radius: 3.125rem;
}
/*  */
.portrait {
  width: 60px;
  height: 60px;
  background-color: var(--bs-nav-pills-link-active-bg);
  font-size: 30px;
}
.header-btn {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.container-right {
  margin-left: 300px;
  width: 75%;
  padding-left: 20px;
}

* {
  font-weight: 900;
  letter-spacing: 2px;
}
*:lang(en) {
  font-family: "Open+Sans", "Noto+Sans+Mono";
}
.sidebar a {
  font-size: 20px;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding: 20px 30px;
  position: fixed;
  left: 0;
  box-shadow: 1px 2px 2px #e6eff5;
  z-index: 999;
}
#header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
}
header {
  height: 100px;
  width: 100%;
}
#banner {
  height: 116px;
  width: 100%;
}
.container {
  max-width: 1200px;
}
#searchInput {
  height: 50px;
  width: 255px;
}
#searchForm {
  font-size: 20px;
}
.page-nav {
  height: 38px;
}
.btn-launch {
  --bs-btn-bg: var(--bs-yellow);
  --bs-btn-hover-bg: var(--bs-orange);
  color: white;
}
.card {
  --bs-card-border-color: rgba(255, 255, 255, 0);
}
.link-deco {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px;
  background-color: green;
  top: -20px;
}
.table-wrap {
  background-color: white;
  padding: 19px 0;
  width: 100%;
  border-left: #ffffff 25px solid;
  border-right: #ffffff 25px solid;
  margin: 16px 0 30px;
}
/* scrollbar */
.table-data-wrap {
  max-height: 500px;
  overflow-y: scroll;
}
.table-data-wrap::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: transparent;
}
.table-data-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffc0c0;
}
.table-data-wrap::-webkit-scrollbar-thumb:hover {
  background: #ff6464;
}
.a {
  position: fixed;
  top: 0;
}
.function-wrap {
  width: 440px;
  height: 50px;
}
.createCourse {
  background-color: white;
  padding: 19px 20px;
  margin: 16px 0 30px;
  width: 90%;
  color: var(--blue);
  font-size: 1.2rem;
}
